@CHARSET "UTF-8";

// common

@mixin default-font {
  font-family: "proxima-nova-1", "proxima-nova-2", "Proxima Nova", "Helvetica", "Arial";
}

$default-bg-color: #E0E0E0;
$main-border-color: #d5d5d5;

@mixin round-corner($r) {
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin linear-gradient($color1, $color2) {
  background-color: $color2;
  background-image: -moz-linear-gradient($color1, $color2);
  background-image: -webkit-linear-gradient($color1, $color2);
  background-image: linear-gradient($color1, $color2);
}

BODY {
  @include default-font;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

BODY > * {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

H1 {
  font-size: large;
}

.sub-text {
  color: #999999;
  font-size: small;
}

.header {
  display: table;
  width: 100%;
  @include linear-gradient(#fafafa, #eaeaea);
  border: 1px solid $main-border-color;
  
  > * {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-left {
    width: 100px;
    text-align: left;
    padding-left: 10px;
  }

  .header-center {
    text-align: center;
  }

  .header-right {
    width: 100px;
    text-align: right;
    padding-right: 10px;
  }
}

BUTTON.standard-button {
  @include round-corner(3px);
  @include linear-gradient(#fafafa, #eaeaea);
  border: 1px solid #ddd;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  height: 24px;

  &:hover {
    @include linear-gradient(#eaeaea, #dadada);
    border-color: #ccc;
  }
}

.message-node {
  padding: 10px 0;
}

// search view

#app-view {
  max-width: 800px
}

.main-content {
  border-color:$main-border-color;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

.search-row {
  display: table;
  width: 100%;
  @include linear-gradient(#f9f9f9, #f3f3f3);
  padding: 5px 0;
  border-bottom: 1px solid $main-border-color;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  INPUT[type="text"] {
    width: 100%;
  }

  .search-button-container {
    width: 100px;
    text-align: right;
    padding-right: 10px;
  }
}

.loading-div {
  display: none;
}

.loading {
  .loading-div {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  #search-result-list {
    display: none;
  }
}

#map-container {
  width: 100%;
  height: 600px;
}

// history view

#history-edit-button {
  display: inline;
}

#history-done-button {
  display: none;
}

.history-edit {
  #history-back-button {
    display: none;
  }  

  #history-edit-button {
    display: none;
  }

  #history-done-button {
    display: inline;
  }
}

// location item view

.location-item {
  display: table;
  width: 100%;
  padding: 5px 0;
  
  > * {
    display: table-cell;
    vertical-align: middle;
  }

  .location-address-cell {
    padding-left: 10px;
    text-align: left;
  }

  .location-distance-cell {
    width: 120px;
    text-align: right;
    padding-right: 10px;
  }
}

.search-view .location-item,
.history-view .listview-edit .item-view,
.history-view .location-item
 {
  border: 1px solid $default-bg-color;
}

.history-view .listview-edit .location-item {
  border: none;
}

.history-view .listview-edit .item-actions {
  display: none;
}

.history-view .listview-edit .remove-confirm .item-actions {
  display: table-cell;
}