<div class="search-view">
  <div class="header">
    <div class="header-left"></div>
    <h1 class="header-center">Search for location</h1>
    <div class="header-right">
      <button id="history-button" class="standard-button">History</button>
    </div>
  </div>
  <div id="search-result-container" class="main-content">
	  <div class="search-row">
	    <div style="padding-left:10px;">
	      <input id="address-input" type="text" />
	    </div>
	    <div class="search-button-container">
	      <button id="search-button" class="standard-button">Search</button>
	    </div>
	  </div>
    <div class="loading-div">Loading...</div>
    <div id="search-result-list"></div>
    <div id="map-container"></div>
  </div>
</div>